{{- $ogImage := "" -}}
{{- with .Params.featured_image -}}
  {{- with resources.Get . -}}
    {{- $ogImage = .Permalink -}}
  {{- else -}}
    {{- $ogImage = . | absURL -}}
  {{- end -}}
{{- end -}}
{{- if not $ogImage -}}
  {{- $ogImage = "/images/global/logo-caus.webp" | absURL -}}
{{- end -}}
{{- $description := .Description | default site.Language.Params.description -}}
{{- $pageTitle := printf "%s | %s" .Title site.Title -}}
<meta name="description" content="{{ $description }}" />
<meta property="og:title" content="{{ $pageTitle }}" />
<meta name="twitter:title" content="{{ $pageTitle }}" />
<meta itemprop="name" content="{{ $pageTitle }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="{{ if eq .Language.Lang "en" }}en_US{{ else }}es_ES{{ end }}" />
<meta property="og:image" content="{{ $ogImage }}" />
<meta property="og:image:secure_url" content="{{ $ogImage }}" />
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
