<div class="flex flex-col overflow-hidden rounded-lg shadow-lg bg-white dark:bg-space-indigo">
    <a href="{{.Permalink}}">
        {{ partial "components/featured-card.html" . }}
    </a>
    <div class="p-6">
        <div class="flex-1">
            <a href="{{.Permalink}}"
               class="block mt-2 text-2xl font-black text-shadow-grey dark:text-white hover:text-violet-twilight dark:hover:text-golden-pollen hover:underline">
                {{.Title}}
            </a>
            <p class="mt-3 text-base text-shadow-grey dark:text-pale-slate">
                {{ .Params.summary }}
            </p>
        </div>
        <div class="flex pt-6 font-medium text-violet-twilight dark:text-golden-pollen text-md">
            <span class="pr-2 font-black">{{ i18n "post.tags" }}</span>
            <span>
            {{ range $elem_index, $elem_val := (.GetTerms "tags") }}
            {{- if gt $elem_index 0 }}, {{ end -}}
            <a href="{{ .Permalink }}"
               class="inline-flex items-center rounded-md bg-pale-slate/30 hover:bg-violet-twilight/20 px-2.5 py-0.5 text-sm font-medium text-shadow-grey dark:text-white capitalize">{{ .LinkTitle }}</a>
            {{- end -}}
            </span>
        </div>
        <div class="flex items-center mt-6">
            <div class="shrink-0">
                <span class="sr-only">{{ .Params.author }}</span>
                <img class="h-10 w-10 rounded-full" src="/images/global/author_caus.webp" alt="" decoding="async" />
            </div>
            <div class="ml-3 pt-1">
                <p class="text-sm font-medium text-shadow-grey dark:text-white">
                    {{ .Params.author }}
                </p>
                <div class="flex space-x-1 text-sm text-space-indigo dark:text-white">
                    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "02-01-2006" }}</time>
                    <span aria-hidden="true">&middot;</span>
                    <span>{{ math.Round (div (countwords .Content) 220.0) }} {{ i18n "post.read_time" }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
