{{ $m := .member }}
{{ $compact := .compact | default false }}
{{ $square := .square | default false }}
{{ $role := .showRole | default true }}
{{ $dates := .showDates | default false }}
{{ $socials := .showSocials | default true }}

{{ $wrapperClass := "flex flex-col items-center p-3 w-full" }}
{{ if $compact }}
  {{ $wrapperClass = printf "%s max-w-xs mx-auto hover:bg-wash transition-colors" $wrapperClass }}
{{ end }}

{{ $imageClass := "mt-0 mb-0 rounded-full object-cover" }}
{{ if $square }}
  {{ $imageClass = printf "%s aspect-square w-full max-w-[300px] mx-auto" $imageClass }}
{{ else if $compact }}
  {{ $imageClass = printf "%s mx-auto" $imageClass }}
{{ else }}
  {{ $imageClass = printf "%s max-w-68 max-h-68" $imageClass }}
{{ end }}


<div class="{{ $wrapperClass }}">
  <img src="{{ $m.image }}" alt="{{ $m.name }}" class="{{ $imageClass }}" />
  <h3 class="text-base font-bold mt-3 truncate">{{ $m.name }}</h3>
  {{ if $role }}
    <p class="text-muted text-sm truncate">
      {{ $m.role }}{{ if $dates }}<br />{{ $m.dates }}{{ end }}
    </p>
  {{ end }}
  {{ if $socials }}
    <div class="flex space-x-6 mt-2">
      {{ with $m.website }}
        {{ if ne . "" }}
          <a href="{{ . }}" class="text-muted hover:text-fg">
            <span class="sr-only">Website</span>
            {{ partial "components/svg.html" (dict "name" "globe") }}
          </a>
        {{ end }}
      {{ end }}
      {{ with $m.linkedin }}
        {{ if ne . "" }}
          <a href="https://www.linkedin.com/in/{{ . }}" class="text-muted hover:text-fg">
            <span class="sr-only">Linkedin</span>
            {{ partial "components/svg.html" (dict "name" "linkedin") }}
          </a>
        {{ end }}
      {{ end }}
      {{ with $m.github }}
        {{ if ne . "" }}
          <a href="https://github.com/{{ . }}" class="text-muted hover:text-fg">
            <span class="sr-only">GitHub</span>
            {{ partial "components/svg.html" (dict "name" "github") }}
          </a>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
</div>
