{{ define "main" }}
<main>
  <article>
    {{ partial "components/page-header.html" (dict "page" .) }}
    <div class="max-w-7xl px-6 pt-6 pb-16 mx-auto prose">
      {{ .Content }}
      {{ partial "components/resources.html" . }}
      <div class="pt-8">
        <p class="text-sm text-muted">Por si no tienes suficiente con todo lo anterior, te dejamos <a href="https://github.com/lnishan/awesome-competitive-programming" class="text-accent hover:text-accent underline underline-offset-4" target="_blank">este listado interminable</a> de recursos extra sobre programación competitiva.</p>
      </div>
    </div>
  </article>
</main>
{{ end }}
