{{define "main"}}

<!--TODO: Hay que modificarlo para que le pongamos nuestro propio css-->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<header class="mb-4 bg-primary-600">
    <span class="py-96">
      <h1 class="py-16 text-5xl font-black text-center text-white ">
       {{ .Title }}
      </h1>
    </span>
</header>

{{ $members := getCSV "," "static/members.csv" }}
<div class="flex justify-center py-4">
    <div class="bg-white rounded-lg shadow max-w-4xl w-full">
        <table class="min-w-full table-auto">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rol</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {{ range $index, $member := $members }}
                    {{ if eq $index 0 }} <!-- Skip the header row -->
                        {{ continue }}
                    {{ end }}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap flex items-center">
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">{{ index $member 0 }}</div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {{ index $member 2 }}">{{ index $member 1 }}</span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ index $member 3 }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>


<!-- 
Con FOTO
{{ $members := getCSV "," "static/members.csv" }}
<div class="flex justify-center py-4">
    <div class="bg-white rounded-lg shadow max-w-4xl w-full">
        <table class="min-w-full table-auto">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rol</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {{ range $index, $member := $members }}
                    {{ if eq $index 0 }}
                        {{ continue }}
                    {{ end }}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap flex items-center">
                            <img class="h-10 w-10 rounded-full object-cover" src="{{ index $member 4 }}" alt="User avatar">
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">{{ index $member 0 }}</div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {{ index $member 2 }}">{{ index $member 1 }}</span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ index $member 3 }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div> -->


{{end}}
