<footer class="bg-ink">
  <div class="container-page py-12 overflow-hidden">
    <nav aria-label="Footer">
      <ul class="flex flex-wrap justify-center -mx-5 -my-2">
        {{ range site.Menus.footer }}
          <li class="px-5 py-2">
            <a href="{{ .URL | relLangURL }}" class="text-base text-paper/80 hover:text-paper"
              >{{ .Name }}</a
            >
          </li>
        {{ end }}
      </ul>
    </nav>
    <div class="flex justify-center mt-8 space-x-6">
      {{ range $name, $url := site.Params.social_media }}
        {{ if ne $name "whatsapp" }}
          <a
            href="{{ $url }}"
            target="_blank"
            rel="noopener noreferrer"
            class="text-paper/80 hover:text-paper"
          >
            <span class="sr-only">{{ $name }}</span>
            {{ partial "components/svg.html" (dict "name" $name) }}
          </a>
        {{ end }}
      {{ end }}
    </div>
    <p class="mt-8 text-base text-center text-paper/80">
      &copy; {{ now.Format "2006" }} {{ site.Title }}.
      {{ i18n "footer.rights" }}
    </p>
  </div>
</footer>
