{{- $src := .src -}}
{{- $page := .page -}}
{{- $width := "" -}}
{{- $height := "" -}}
{{- with $page.Resources -}}
  {{- $res := .GetMatch $src -}}
  {{- if $res -}}
    {{- $src = $res.RelPermalink -}}
    {{- $width = $res.Width -}}
    {{- $height = $res.Height -}}
  {{- end -}}
{{- end -}}
{{- if not $width -}}
  {{- $file := printf "static/%s" (strings.TrimPrefix "/" $src) -}}
  {{- if os.FileExists $file -}}
    {{- $cfg := imageConfig $file -}}
    {{- $width = $cfg.Width -}}
    {{- $height = $cfg.Height -}}
  {{- end -}}
{{- end -}}
{{- return (dict "src" $src "width" $width "height" $height) -}}
