{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
  {{ $dotRendered := false }}
  {{ $link := "inline-flex items-center px-4 pt-4 text-lg text-accent rounded focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-accent" }}


  <nav
    class="flex items-center justify-center px-4 sm:px-0"
    aria-label="{{ i18n "pagination.label" }}"
  >
    <div class="mx-auto border-t-2 border-line/30">
      {{ if and (ne $pag.PageNumber 1) (ne $pag.PageNumber 2) }}
        <a href="{{ $pag.First.URL }}" rel="first" class="{{ $link }} font-black"
          >&laquo; {{ i18n "pagination.first" }}</a
        >
      {{ end }}

      {{ if $pag.HasPrev }}
        <a href="{{ $pag.Prev.URL }}" rel="prev" class="{{ $link }} font-black"
          >&lsaquo; {{ i18n "pagination.prev" }}</a
        >
      {{ end }}

      {{ range $pag.Pagers }}
        {{ if eq . $pag }}
          <a href="{{ .URL }}" aria-current="page" class="{{ $link }} font-black"
            >{{ .PageNumber }}</a
          >
        {{ else if and (ge .PageNumber (sub $pag.PageNumber 2)) (le .PageNumber (add $pag.PageNumber 2)) }}
          {{ $dotRendered = false }}
          <a href="{{ .URL }}" class="{{ $link }} font-medium">{{ .PageNumber }}</a>
        {{ else if not $dotRendered }}
          {{ $dotRendered = true }}
          <span class="{{ $link }} font-medium" aria-hidden="true">&hellip;</span>
        {{ end }}
      {{ end }}

      {{ if $pag.HasNext }}
        <a href="{{ $pag.Next.URL }}" rel="next" class="{{ $link }} font-black"
          >{{ i18n "pagination.next" }} &rsaquo;</a
        >
      {{ end }}

      {{ if and (ne $pag.PageNumber $pag.TotalPages) (ne $pag.PageNumber (sub $pag.TotalPages 1)) }}
        <a href="{{ $pag.Last.URL }}" rel="last" class="{{ $link }} font-black"
          >{{ i18n "pagination.last" }} &raquo;</a
        >
      {{ end }}
    </div>
  </nav>
{{ end }}
