{{ $m := .member }}
{{ $compact := .compact | default false }}
{{ $square := .square | default false }}
{{ $role := true }}
{{ if isset . "showRole" }}
  {{ $role = .showRole }}
{{ end }}
{{ $dates := .showDates | default false }}
{{ $socials := true }}
{{ if isset . "showSocials" }}
  {{ $socials = .showSocials }}
{{ end }}

{{ $wrapperClass := "flex flex-col items-center p-3 w-full" }}
{{ if $compact }}
  {{ $wrapperClass = printf "%s max-w-xs mx-auto hover:bg-wash transition-colors" $wrapperClass }}
{{ end }}

{{ $imageClass := "mt-0 mb-0 rounded-full object-cover" }}
{{ if $square }}
  {{ $imageClass = printf "%s aspect-square w-full max-w-[300px] mx-auto" $imageClass }}
{{ else if $compact }}
  {{ $imageClass = printf "%s mx-auto" $imageClass }}
{{ else }}
  {{ $imageClass = printf "%s max-w-68 max-h-68" $imageClass }}
{{ end }}


<div class="{{ $wrapperClass }}">
  <img src="{{ $m.image }}" alt="{{ $m.name }}" class="{{ $imageClass }}" />
  <h3 class="text-base font-bold mt-3 truncate">{{ $m.name }}</h3>
  {{ if and $role $m.role }}
    <p class="text-muted text-sm truncate">
      {{ $m.role }}{{ if $dates }}<br />{{ $m.dates }}{{ end }}
    </p>
  {{ end }}
  {{ if and $socials (or $m.website $m.linkedin $m.github) }}
    {{ $links := slice
      (dict "value" $m.website "url" $m.website "icon" "globe" "label" "Website")
      (dict "value" $m.linkedin "url" (printf "https://www.linkedin.com/in/%s" $m.linkedin) "icon" "linkedin" "label" "Linkedin")
      (dict "value" $m.github "url" (printf "https://github.com/%s" $m.github) "icon" "github" "label" "GitHub")
    }}
    <div class="flex space-x-6 mt-2">
      {{ range $l := $links }}
        {{ with $l.value }}
          <a href="{{ $l.url }}" class="text-muted hover:text-fg", target="_blank">
            <span class="sr-only">{{ $l.label }}</span>
            {{ partial "components/svg.html" (dict "name" $l.icon) }}
          </a>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
</div>
