{{ define "main" }}
  <main>
    <article>
      {{ partial "components/page-header.html" (dict "page" . "title" (i18n "news.heading")) }}
      {{ partial "news/calendar.html" . }}
      <h2 class="mx-auto mt-16 max-w-7xl px-4 text-center text-3xl font-semibold text-muted">
        {{ i18n "news.latest" }}
      </h2>
      {{ with .Content }}
        <div class="max-w-2xl px-6 mx-auto mt-6 prose">
          {{- . -}}
        </div>
      {{ end }}
      {{ partial "components/posts-template.html" . }}
    </article>
    <div class="max-w-xl mx-auto my-16">{{ partial "components/pagination" . }}</div>
  </main>
{{ end }}
