{{ define "main" }}
  <main>
    <article>
      {{ partial "components/page-header.html" (dict "page" . "title" "Noticias") }}
      <section class="calendar-iframe my-8">
        <h2 class="text-center text-3xl font-semibold text-muted">Eventos</h2>

        <div class="flex justify-center mt-4 dark:invert">
          <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FMadrid&bgcolor=%23ffffff&title=Club%20de%20Algoritmia%20de%20la%20Universidad%20de%20Sevilla&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=1e6b119ef8095dedf6f70db1c6c8f12543f2394c8d0928e426033819bc59e502%40group.calendar.google.com&color=%238E24AA"
            title="Calendario de eventos del Club de Algoritmia de la Universidad de Sevilla"
            class="w-full max-w-[900px] aspect-[3/2] rounded-lg"
            loading="lazy"
          >
          </iframe>
        </div>
      </section>
      <br />
      <br />
      <section class="calendar-iframe my-8">
        <h2 class="text-center text-3xl font-semibold text-muted">Noticias</h2>
      </section>
      {{ with .Content }}
        <div class="max-w-2xl px-6 mx-auto mt-6 prose">
          {{- . -}}
        </div>
      {{ end }}
      {{ partial "components/posts-template.html" . }}
    </article>
    <div class="max-w-xl mx-auto my-16">{{ partial "components/pagination" . }}</div>
  </main>
{{ end }}
