{{ define "main" }}
<main>
    <style>
        /* Estilo general del iframe */
        .styled-calendar-container {
            width: 50%;
            border: none;
        }
    
        /* Media query para pantallas pequeñas (móviles) */
        @media (max-width: 768px) {
            .styled-calendar-container {
                width: 100%; /* Ancho del 100% en móviles */
                min-width: 300px; /* Ajusta el mínimo según sea necesario */
            }
        }
    </style>
    <article>
        <header class="mt-4">
            <h1 class="py-16 text-5xl font-black text-center capitalize text-gray-900 dark:text-white">
              Noticias
            </h1>
          </header>
        <section class="calendar-iframe my-8">
            <h2 class="text-center text-3xl font-semibold text-gray-800 dark:text-white">Eventos</h2>

            <div class="flex justify-center mt-4 dark:invert">
                <iframe 
                    src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FMadrid&bgcolor=%23ffffff&title=Club%20de%20Algoritmia%20de%20la%20Universidad%20de%20Sevilla&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=Y2x1YmFsZ29yaXRtaWF1c0BnbWFpbC5jb20&color=%238E24AA"
                    style="border-width:0"
                    width="900"
                    height="600"
                    frameborder="0"
                    scrolling="no"
                    >
                </iframe>               
            </div>
        </section>
        
        <br>
        <br>

        <section class="calendar-iframe my-8">
            <h2 class="text-center text-3xl font-semibold text-gray-800 dark:text-white">Noticias</h2>
        </section>

        {{ with .Content }}
        <div class="max-w-2xl px-6 mx-auto mt-6 prose dark:prose-invert dark:text-white">
            {{- . -}}
        </div>
        {{ end }}
        {{ partial "posts-template.html" . }}
    </article>
    <div class="max-w-xl mx-auto my-16">
        {{ partial "pagination" . }}
    </div>
</main>
{{ end }}