@import 'tailwindcss';
@import './colors.css';
@import './prose.css';

@source not 'LICENSE';
@source not '.github';

@source 'layouts/**/*.html';
@source 'content/**/*.md';

@custom-variant dark (&:is(.dark *));

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  main {
    flex: 1 1 0%;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-line, currentColor);
  }
}

@layer components {
  .container-page {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}

@utility grid-auto-fit-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  justify-content: center;
  max-width: 75rem;
  margin-inline: auto;
}

@utility grid-auto-fit-member {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
}

@utility grid-auto-fit-logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}
