<footer class="bg-gray-900">
    <div class="max-w-md px-4 py-12 mx-auto overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <nav aria-label="Footer">
            <ul class="flex flex-wrap justify-center -mx-5 -my-2">
                {{ range site.Menus.footer }}
                <li class="px-5 py-2">
                    <a href="{{ .URL | relLangURL }}" class="text-base text-gray-400 hover:text-gray-300">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <p class="mt-8 text-base text-center text-gray-400">&copy; {{ now.Format "2006" }}
            {{ site.Title }}. Reservados todos los derechos.</p>
    </div>
</footer>
