{{ define "main" }}
  <main id="main">
    <div class="container-page py-8 lg:py-16">
      <div class="max-w-xl mx-auto text-center">
        <h1
          class="mb-4 font-black tracking-tight capitalize text-fg text-8xl lg:text-7xl xl:text-9xl"
        >
          404
        </h1>
        <p class="mb-4 text-3xl font-bold tracking-tight text-fg md:text-4xl">
          {{ i18n "error.404-title" }}
        </p>
        <p class="mb-4 text-lg font-light text-muted">
          {{ i18n "error.404-message" }}
        </p>
        <a href="/" class="btn-primary my-4 font-medium">{{ i18n "error.404-button" }}</a>
      </div>
    </div>
  </main>
{{ end }}
