<!-- <div class="max-w-md px-4 mx-auto md:pt-24 md:pb-16 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-24">
        
        {{ $logos := .Site.Params.P3.Logos }}
        {{ $count := len $logos }}
        
        <div class="grid gap-8 mt-12 
    {{ if eq $count 1 }} 
        grid-cols-1 justify-items-center  
    {{ else if eq $count 2 }} 
        grid-cols-1 sm:grid-cols-2 max-w-2xl mx-auto {{/* Se adaptan a 2 en tablets/pc */}}
    {{ else }} 
        grid-cols-2 md:grid-cols-3 lg:grid-cols-2 
    {{ end }} 
lg:mt-0">
    
    {{ range $logos }}
    <div class="flex justify-center items-center px-6 py-10 bg-white dark:bg-white rounded-xl shadow-md border border-gray-100 w-full 
        {{ if eq $count 1 }} max-w-md {{ end }}"> 
        {{ if .image }}
            {{ $sponsor := resources.Get .image }}
            <img src="{{ $sponsor.RelPermalink }}" alt="{{ .alt }}" loading="lazy" class="max-h-24 w-auto object-contain"/>
        {{ else }}
            {{ $sponsor := resources.Get "images/global/sample-logo.svg" }}
            <img src="{{ $sponsor.RelPermalink }}" alt="{{ .alt }}" loading="lazy" class="max-h-24 w-auto object-contain"/>
        {{ end }}
    </div>
    {{ end }}
</div>

        <div class="mt-12 lg:mt-0">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
                {{ i18n "sponsors.heading"}}
            </h2>
            <p class="max-w-3xl mt-6 text-lg leading-7 text-gray-900 dark:text-white">
                  {{ i18n "sponsors.description"}}
            </p>
            {{ range .Site.Params.P3.Links }}
            <div class="my-6">
                <a href="{{ .url }}" class="text-base font-medium text-primary-400 dark:text-primary-100">
                    {{ i18n "sponsors.cta" }}&nbsp&rarr;
                </a>
            </div>
            {{ end }}
        </div>

    </div>
</div> -->

<div class="max-w-md px-4 mx-auto md:pt-24 md:pb-16 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-24">
        
        {{ $logos := .Site.Params.P3.Logos }}
        {{ $count := len $logos }}
        
        <div class="grid gap-8 mt-12 
            {{ if eq $count 1 }} 
                grid-cols-1 justify-items-center  
            {{ else if eq $count 2 }} 
                grid-cols-1 sm:grid-cols-2 max-w-2xl mx-auto
            {{ else }} 
                grid-cols-2 md:grid-cols-3 lg:grid-cols-2 
            {{ end }} 
            lg:mt-0">
            
            {{ range $logos }}
            <div class="flex justify-center items-center p-6 bg-white rounded-2xl w-full 
                {{ if eq $count 1 }} max-w-md {{ end }}"> 

                {{ if .image }}
                    {{ $sponsor := resources.Get .image }}
                    <img src="{{ $sponsor.RelPermalink }}" alt="{{ .alt }}" loading="lazy" class="max-h-16 w-auto object-contain"/>
                {{ else }}
                    {{ $sponsor := resources.Get "images/global/sample-logo.svg" }}
                    <img src="{{ $sponsor.RelPermalink }}" alt="{{ .alt }}" loading="lazy" class="max-h-16 w-auto object-contain"/>
                {{ end }}
            </div>
            {{ end }}
        </div>

        <div class="mt-12 lg:mt-0">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
                {{ i18n "sponsors.heading"}}
            </h2>
            <p class="max-w-3xl mt-6 text-lg leading-7 text-gray-900 dark:text-white">
                  {{ i18n "sponsors.description"}}
            </p>
            {{ range .Site.Params.P3.Links }}
            <div class="my-6">
                <a href="{{ .url }}" class="text-base font-medium text-primary-400 dark:text-primary-100">
                    {{ i18n "sponsors.cta" }}&nbsp&rarr;
                </a>
            </div>
            {{ end }}
        </div>

    </div>
</div>